<div>
    <h2 id="page-heading">
        <span>Acceptance Criteria</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acceptance-criteria" [routerLink]="['/acceptance-criteria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Acceptance Criteria
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="acceptanceCriteria">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Description</span></th>
            <th><span>Goal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acceptanceCriteria of acceptanceCriteria ;trackBy: trackId">
                <td><a [routerLink]="['/acceptance-criteria', acceptanceCriteria.id, 'view' ]">{{acceptanceCriteria.id}}</a></td>
                <td>{{acceptanceCriteria.title}}</td>
                <td>{{acceptanceCriteria.description}}</td>
                <td>
                    <div *ngIf="acceptanceCriteria.goal">
                        <a [routerLink]="['../goal', acceptanceCriteria.goal?.id, 'view' ]" >{{acceptanceCriteria.goal?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acceptance-criteria', acceptanceCriteria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acceptance-criteria', acceptanceCriteria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acceptance-criteria/'+ acceptanceCriteria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
